@{
    ViewData["Title"] = "Admin Paneli";
}
<h2>Yönetim Paneli</h2>

<div>
    <a asp-action="ViewSalons" asp-controller="Admin" class="btn btn-primary">
        Salonları Listele
    </a>
</div>

<div style="margin-top: 10px;">
    <a asp-action="ViewEmployees" asp-controller="Admin" class="btn btn-secondary">
        Çalışanları Listele
    </a>
</div>