@{
    ViewData["Title"] = "Admin Paneli";
}
<h2>Yönetim Paneli</h2>

<div>
    <a asp-action="ViewSalons" asp-controller="Salon" class="btn btn-primary">
        Salonları Listele
    </a>
</div>

<div>
    <a asp-action="ViewEmployees" asp-controller="Employee" class="btn btn-primary">
        Çalışanları Listele
    </a>
</div>
