@model WebProgramlamaProje.Models.Employee

<h2>Çalışanı Düzenle</h2>

<form asp-action="EditEmployee" method="post">
    <!-- Gizli alan: EmployeeId -->
    <input type="hidden" asp-for="EmployeeId" />

    <!-- Adı -->
    <div class="form-group">
        <label>Adı</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <!-- Soyadı -->
    <div class="form-group">
        <label>Soyadı</label>
        <input asp-for="Surname" class="form-control" />
    </div>

    <!-- Salon -->
    <div class="form-group">
        <label>Salon</label>
        <select asp-for="SalonId" asp-items="ViewBag.SalonList" class="form-control"></select>
    </div>

    <!-- Hizmetler -->
    <div class="form-group">
        <label>Hizmetler</label>
        <div>
            @foreach (var service in ViewBag.ServiceList)
            {
                <!-- Seçili hizmetleri kontrol et -->
                bool isSelected = Model.Services != null && Model.Services.Any(s => s.ServiceId.ToString() == service.Value);

                <div class="form-check">
                    <input type="checkbox"
                           name="selectedServices"
                           value="@service.Value"
                           class="form-check-input"
                           id="service_@service.Value"
                    @(isSelected ? "checked" : "") />

                    <label class="form-check-label" for="service_@service.Value">
                        @service.Text
                    </label>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <label>Çalışma Saatleri</label>
        <input asp-for="WorkingHours" class="form-control" placeholder="Örn: 09:00 - 18:00" />
        <span asp-validation-for="WorkingHours" class="text-danger"></span>
    </div>


    <!-- Güncelle Butonu -->
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
