<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProgramlamaProje</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProgramlamaProje.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <style>

        html, body , head {
            height: 100%; /* Tüm ekran yüksekliğini kaplar */
            margin: 0;
            display: flex;
            flex-direction: column; /* İçerikleri dikey sıralar */
            font-family:cursive;
        }

        /* Ana içerik */
        main {
            flex: 1; /* Sayfa içeriği kalan alanı kaplar */
            padding: 20px;
        }


        /* navbar genel tasarımı */
        .navbar {
            background: linear-gradient(90deg, black, #3a3a3a); 
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5); 
            width: 100%; 
            z-index: 1000; 


        }

        /* logo tasarımı */
        .navbar-brand {
            font-family: cursive;
            font-weight: bold;
            color: #e8b44b; 
            display: flex;
            align-items: center;
            text-transform: uppercase;
        }

            .navbar-brand i {
                margin-right: 10px;
                color: #d4a538;
            }

            .navbar-brand:hover {
                color: #ffffff;
                text-decoration: none;
            }

        /* navbar link tasarımı */
        .navbar-nav .nav-link {
            color: #ffffff;
            margin-right: 1.5rem;
            font-size: 1rem;
            font-family: cursive;
            letter-spacing: 0.5px;
            transition: color 0.3s, transform 0.3s ease, text-shadow 0.3s;
            position: relative;
        }

            .navbar-nav .nav-link:hover {
                color: #e8b44b;
                text-shadow: 0 0 10px #e8b44b, 0 0 20px #e8b44b;
            }

            .navbar-nav .nav-link.active {
                color: #e8b44b;
                font-weight: bold; 
                transition: all 0.3s ease-in-out; 
                text-shadow: 0 0 6px rgba(232, 180, 75, 0.6);
                position: relative;
            }

                
                .navbar-nav .nav-link.active::after {
                    content: '';
                    position: absolute;
                    bottom: -5px; 
                    left: 0;
                    width: 100%; 
                    height: 2px;
                    background: linear-gradient(90deg, #e8b44b, #d4a538); 
                    transition: all 0.3s ease-in-out; 
                }


        /* navbar içerik tasarımı */
        .navbar-container {
            font-family: cursive;          
            max-width: 1400px;
            margin: 0 auto;
        }

        .navbar .btn {
            border-radius: 50px;
            font-weight: bold;
            color: #e8b44b;
            background-color:black;
        }

        .navbar .btn:hover {
            background-color: #e8b44b;
            color: white;
                transition: all 0.3s ease;
                transform: scale(1.05);
            }

        .custom-toggler {
            border: none; 
            background-color: #d4a538;
            padding: 10px 15px;
            border-radius: 50%;

        }

            .custom-toggler span {
                display: block;
                width: 20px;
                height: 4px;
                margin: 4px auto;
                background-color: #1a1a1a; 
                transition: all 0.3s ease-in-out;
            }

            .custom-toggler:hover  {
                transform: scale(1.2);
                transition: all 0.3s ease-in-out;
            }

        /* footer tasarımı */
        footer {
            background: linear-gradient(90deg, black, #3a3a3a); 
            padding: 1rem;
            font-family: cursive;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5); 
            padding: 2rem 0; 
            font-size: 1rem; 

        }

            footer h5 {
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            footer ul {
                list-style: none; 
                padding: 0;
            }

                footer ul li {
                    margin-bottom: 0.5rem; 
                }

            footer a {
                color: #fff;
                text-decoration: none; 
            }

                footer a:hover {
                    color: #e8b44b; 
                }

            /* Sosyal medya ikon tasarımı */
            footer .bi {
                transition: color 0.3s ease-in-out; 
            }

                footer .bi:hover {
                    color: #e8b44b; 
                }

            footer p {
                margin: 0;
            }

    </style>


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="navbar-container container-fluid">
                <!-- firma logosu -->
                <a class="nav-link" href="http://localhost:5162/Home/Index">
                    <i class="bi bi-scissors navbar-brand " style="font-size:2rem;">HAIRDRESSER</i>

                </a>

                <!-- toggler görünümü -->
                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar linkleri -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://localhost:7042/Home/AboutUs">About Us</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:5162/Home/Services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:5162/Home/Salons">Salons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:5162/Home/Image">TryAI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:5162/Home/ContactUs">Contact Us</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-3">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Kullanıcı Adı Görünümü -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                    @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Home">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <!-- Giriş Yap ve Kayıt Ol Butonları -->
                            <li class="nav-item">
                                <a class="btn  me-2" asp-action="LoginPage" asp-controller="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn " href="#">Sign Up</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>


        </nav>   

    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer style="background-color: #333; color: #fff; padding: 2rem 0;">
        <div class="container">
            <div class="row text-center text-md-start">
                <!-- Adres -->
                <div class="col-md-4">
                    <h5>Address</h5>
                    <ul class="list-unstyled" style="font-size: 0.9rem; padding-left: 0;">
                        <li>
                            Sakarya University <br> Faculty of Computer and Information Sciences
                        </li>
                    </ul>
                    
                </div>

                <!-- Telefon -->

                <div class="col-md-4">
                    <h5>Telephone</h5>
                    <ul class="list-unstyled" style="font-size: 0.9rem; padding-left: 0;">
                        <li><i class="bi bi-telephone"></i> +90 555 444 33 22</li>
                    </ul>
                </div>

                <!-- İletişim -->
                <div class="col-md-4">
                    <h5>E-mail</h5>
                    <ul class="list-unstyled" style="font-size: 0.9rem; padding-left: 0;">
                       <li><i class="bi bi-envelope"></i> info@ogr.sakarya.edu.tr</li>
                    </ul>
                </div>
            </div>


            <!-- Sosyal Medya İkonları -->
            <div class="row mt-4 text-center">

                <div class="col-12">
                    <a href="#" class="me-3" style="color: #fff; text-decoration: none; font-size: 1.5rem;">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="#" class="me-3" style="color: #fff; text-decoration: none; font-size: 1.5rem;">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="#" class="me-3" style="color: #fff; text-decoration: none; font-size: 1.5rem;">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#" style="color: #fff; text-decoration: none; font-size: 1.5rem;">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </div>

            <!-- Telif Hakkı -->
            <div class="row mt-4 text-center">
                <div class="col-12">
                    <p style="font-size: 0.8rem;">
                        &copy; 2024 - WebProgrammingProject - <a href="#" style="color: #e8b44b; text-decoration: none;">Privacy</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
  



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

  


    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>
